 <div class="comment-container">
    <div class='comment-header'>
        <h1 id="post-title">
           "<%= @post.title%>" - <%= @post.author.name%>
        </h1>
        <div class="comment-like">
            <span>Comments: <%= @post.comment_counter%>, </span>
            <span class="likes">Likes:<%= @post.likes_counter%></span>
        </div>
    </div>
    <p>
        <%= @post.text%>
    </p>
    <div class="comment-like-button">
        <%= form_with url: "/users/#{@post.author.id}/posts/#{@post.id}/likes" do |form| %>
     <%= form.submit 'Like', class: 'single-button' %>
  <% end %>
  
  <%= form_with(model: @comment, url: "/users/#{@post.author.id}/posts/#{@post.id}/comments", method: :post, scope: :comment) do |form| %>
        <div class="comment-form">
        <%= form.text_field :text, required: true, autofocus: true, placeholder: 'Add your comment here'%>
        <%= form.submit "Comment", class: "comment-button"%>
        <div>
    <%end%>
    </div>
    
 
            <div class="comments-container-post">
                <% @comments=Post.find(@post.id).comments %>
                    <% @comments.includes(:author).each do |comment| %>
                        <div  id="single-comment">
                            <span> <%= comment.author.name %> : <%= comment.text %></span>
                        </div>
                    <% end %>
    </div>
</div>
