 <div class="comment-container">
    <div class='comment-header'>
        <h1 id="post-title">
           "<%= @post.title%>" - <%= @post.author.name%>
        </h1>
        <div class="comment-like">
            <span>Comments: <%= @post.comment_counter%>, </span>
            <span class="likes">Likes:<%= @post.likes_counter%></span>
        </div>
    </div>
    <p>
        <%= @post.text%>
    </p>
    <div class="comment-like-button">
        <%= form_with url: "/users/#{@post.author.id}/posts/#{@post.id}/likes" do |form| %>
     <%= form.submit 'Like', class: 'single-button' %>
  <% end %>
  <div><%= link_to "Add Comment", new_user_post_comment_path(@post.author.id, @post.id) %></div>
    </div>
    
            <div class="comments-container-post">
                <% @comments=Post.find(@post.id).comments %>
                    <% @comments.includes(:author).each do |comment| %>
                        <div  id="single-comment">
                            <span> <%= comment.author.name %> : <%= comment.text %></span>
                        </div>
                    <% end %>
    </div>
</div>
